body{
	margin: 0;
	padding: 0;
	background-color: #34495e;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#content{
	width: 200px;
	height: 200px;
	background-color: #ecf0f1;
	transition: 1s;
}

#content:hover{
	width: 150px;
	height: 250px;
}